.task-item {
  background-color: #fff;
  border-radius: 8px;

  .task-item-header {
    padding: 12px 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-item-body {
    padding: 12px;
  }
  .task-item-footer {
    padding: 12px;
    border-top: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;

    .list-file-attach {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      min-width: 120px;
      max-width: 150px;
    }
  }
}
